<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <style type="text/css">
        .btn-group .btn {
    transition: background-color .3s ease;
}

.panel-table .panel-body {
    padding: 0;
}

.table > thead > tr > th {
    border-bottom: none;
}

.panel-footer, .panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    width: 50px;
}

.panel-table .panel-body .table-bordered > thead > tr > th.col-tools {
    text-align: center;
    width: 120px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.pagination {
    margin: 0;
}
    </style>
    <%include ../../head.ejs%>
    <link rel="stylesheet" href="/assets/vendor/jquery/datatables.min.css">
</head>

<body>
    
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <%include ../../header.ejs%>

    <!-- ============================================================== -->
    <!-- 헤드 네비게이션 바 종료  -->
    <!-- ============================================================== -->

        <div class="">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">그룹 및 정책 관리 </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">대쉬보드</li>
                                            <li class="breadcrumb-item active" aria-current="page">그룹 및 정책 관리</li>
                                            <li class="breadcrumb-item active" aria-current="page">기본 정보</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Search Bar 시작 -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card" style="height: 600px; overflow: scroll;">
                        <div class="card-header">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                                <a href="../newgroup"><button type="submit" class="col-2 btn btn-outline-primary btn-lg">신규 그룹 생성</button></a>
                            </div>
                        </div>

                <div class="card-body p-0">                    
               <!-- ============================================================== -->
                <!-- 안에 테이블 시작 -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4" style ="position:relative"> <!-- check box left side-->
                                <label class="custom-control custom-checkbox custom-control-inline" style="margin-left:50px; z-index:9999">
                                    <input type="checkbox" id="chk_all" name="chk_all" class="custom-control-input"><span class="custom-control-label">모두 선택</span>
                                </label>
                            </div>
                            <div class="col-8">
                                <div class="pull-right">
                                    <div class="row">
                                        <form action="/oldgroup" method = "POST" style="z-index: 9999;">
                                            <input type="hidden" name="change_group_NAME" id="change_group_NAME" value="">
                                            <input type="submit" id="GroupChangeBtn"
                                                   class="btn btn-outline-success btn-lg"
                                                   value = "수정" style="width: 150px; z-index:9998">
                                        </form>
                                        <form action="/group/del_group_info" method = "POST"
                                              class="col-6">
                                            <input type="hidden" name="del_group_set_cd" id="del_group_set_cd" value="">
                                            <input type="submit" id="groupDelBtn"
                                                   class="btn btn-outline-warning btn-lg"
                                                   value="삭제" style="width: 150px; margin-right: 30px;">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            <!-- ============================================================== -->
                            <!--  판넬 바디 시작(그룹명 정책명 이런거 들어가는거) -->
                            <!-- ============================================================== -->
                        <div class="table-responsive" style="margin-top:-50px;">
                                <table id="group_table" class="table">
                                    <thead class="bg-light">
                                    <th class = "border-0 text-center">check</th>
                                    <th class = "border-0 text-center">번호</th>
                                    <th class = "border-0 text-center">그룹 이름</th>
                                    <th class = "border-0 text-center">그룹 설명</th>
                                    <th class = "border-0 text-center">에이전트 수</th>
                                    <th class = "border-0 text-center">생성시간</th>
                                    <th class = "border-0 text-center">활성시간</th>
                                    <th class = "border-0 text-center">오프라인/온라인</th>
                                    <th class = "border-0 text-center">정책 활성 여부</th>
                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i<recordsets[0].length; i++){ %>
                                    <tr class="table-success" style="text-align: center;">
                                        <td style="text-align: center; vertical-align: middle;">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" id='<%=i%>' name = "chkbox" class="custom-control-input">
                                                <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span>
                                            </label>
                                        </td>
                                        <!--<td colspan="2">-->
                                        <td>그룹<%=i+1%></td>
                                        <!--<td colspan="4">-->
                                        <td><%=recordsets[0][i].NAME%></td>
                                        <td><%=recordsets[0][i].DISCRIPTION%></td>
                                        <td><%=recordsets[0][i].AGENT_COUNTING%></td>
                                        <td><%=recordsets[0][i].CREATE_TIME%></td>
                                        <td><%=recordsets[0][i].ACTIVE_TIME%></td>
                                        <!--<td colspan="2">-->
                                        <td>오프라인 정보시스템 포함</td>
                                        <td>
                                            <div class="switch-button switch-button-yesno">
                                                <input type="checkbox" class="switch" data-toggle="toggle" <%if(recordsets[0][i].ACTIVE_STATE === "active"){%> checked <%}%> name='<%=i%>' id='<%=recordsets[0][i].GROUP_SET_CD%>'>
                                                <span><label for="<%=recordsets[0][i].GROUP_SET_CD%>"></label></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                <!-- 테이블 끝-->
                </div>
                <!-- 카드 바디 끝-->
                    </div>
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <%include ../../footer.ejs%>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
       
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="assets/vendor/inputmask/js/jquery.inputmask.bundle.js"></script>
    <script src="/assets/vendor/jquery/datatables.min.js"></script>
    <style>
        div.dataTables_info {
            position: absolute
        }

        .dataTables_wrapper .dataTables_filter {
            width:100%;
            text-align: center;
            margin-bottom:20px;
            line-height:40px;
        }

        div.dataTables_wrapper div.dataTables_paginate {
            float: none;
            text-align: center
        }
    </style>

    <script type="text/javascript">
        $('#group_table').DataTable({
            lengthChange: false,
            info: false,
            searching : true,
            scrollY: 320,
            language:{
                search : "",
                searchPlaceholder : "Search..."
            }
        });

        $('#groupDelBtn').click(() => {
           let arr=[];
           let chk_arr = $('input:checkbox[name="chkbox"]:checked');
           if(chk_arr.length == 0) {
               alert("선택된 그룹이 없습니다.");
               return;
           }else {
               chk_arr.each((idx, elem) => {
                   let id = elem.id;
                   let recordsets = JSON.parse('<%- JSON.stringify(recordsets[0]) %>');
                   arr.push(recordsets[id].GROUP_SET_CD);
               });
               $('#del_group_set_cd').val(JSON.stringify(arr));
               $('#groupDelBtn').submit();
           }
        });

        $('#GroupChangeBtn').click(() => {
     //let cnt = $("input[class='custom-control-input']:checked").length;
            let arr=[];
            let chk_arr = $('input:checkbox[name="chkbox"]:checked');

            if (chk_arr.length == 0) {
                alert("선택 된 그룹이 없습니다.");
                return;
            }
            else if (chk_arr.length != 1) {
                alert("한번에 하나의 그룹만 수정 가능합니다.")
                return;
            } else{
                chk_arr.each((idx,elem)=>{
                    let id = elem.id;
                    let recordsets = JSON.parse('<%-JSON.stringify(recordsets[0]) %>');
                    arr.push(recordsets[id].NAME);
                })

                $('#change_group_NAME').val(JSON.stringify(arr));
                $('#groupChangeBtn').submit();
            }
        });

        $('#chk_all').click(() => {
            let chk = $('#chk_all').is(":checked");//.attr('checked');
            if (chk) $('input:checkbox[name="chkbox"]').prop('checked', true);
            else $('input:checkbox[name="chkbox"]').prop('checked', false);
        });

    </script>
</body>
 
</html>