<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>국가보안연구소</title>
</head>

<body>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="../dashboard">국가보안연구소</a>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <a class="nav-link" href="../dashboard" role="button" aria-haspopup="true"
                                aria-expanded="false">대쉬보드</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../agent" role="button" aria-haspopup="true"
                                aria-expanded="false">에이전트관리</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="../group" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">그룹 및 정책관리</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../group">기본 정보 </a>
                                <a class="dropdown-item" href="../newgroup">신규 그룹 생성</a>
                                <a class="dropdown-item" href="../oldgroup">기존 그룹 관리</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../log" role="button" aria-haspopup="true"
                                aria-expanded="false">평가문항/로그관리</a>
                        </li>

                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> 설정 <i class="far fa-sun"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"><span>CPE</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>CCE</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="#" class="connection-item"> <span>OVAL</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사용자 관리 </a>

                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="../logout" class="connection-item"> <span>로그아웃</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a href="../changeinfo" class="connection-item"> <span>정보변경</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- 헤드 네비게이션 바 종료  -->
        <!-- ============================================================== -->


        <div class="">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">에이전트 관리 </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">에이전트 관리 </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="card" style="height: 400px; overflow: scroll;">

                                <div class="card-body p-0">

                                    <div class="row" style="margin-top: 30px; margin-bottom: 30px; ">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">
                                            <label class="custom-control custom-checkbox">
                                                <input id="chk_all" name="chk_all" type="checkbox"
                                                    class="custom-control-input"><span
                                                    class="custom-control-label">All</span>
                                            </label>
                                        </div>

                                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3" style="height: 70px">

                                            <div class="input-group input-search">

                                                <input id="search_keyword" class="form-control" type="text"
                                                    placeholder="Search "><span class="input-group-btn">
                                                    <button class="btn btn-secondary" type="button" id="searchBtn"><i
                                                            class="fas fa-search" ></i></button></span>
                                            </div>
                                        </div>


                                        <div class="row col-xl-4 col-lg-4 col-md-4 col-sm-4"
                                            style="text-align: center;">


                                            <form class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                <input type="button" 
                                                    class="btn btn-rounded btn-success col-xl-12 col-lg-12 col-md-12 col-sm-12"
                                                     id="changeAgentInfoBtn"
                                                    data-toggle="modal" style="height: 55px" value="정보수정"></button>

                                            </form>

                                            <!-- 정부 수정 모달 시작  -->
                                            <!-- ================================ -->

                                            <div class="modal fade" id="changeinfomodal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                style="display: none;">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">정보수정</h5>
                                                            <a href="#" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </a>
                                                        </div>

                                                        <form action="/update_agent_info" method="POST">
                                                            <div class="modal-body">
                                                                <input type="hidden" name="cd" id="editID" value="">
                                                                <div class="form-group">
                                                                    <label for="inputText1"
                                                                        class="col-form-label">IP</label>
                                                                    <input name="txtIP" type="text" id="editIP"
                                                                        class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText2">MAC Address</label>
                                                                    <input name="txtMac" type="text" id="editMAC"
                                                                        class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText3">운영체제 버전</label>
                                                                    <input name="txtOS" type="text" id="editOS"
                                                                        class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText4"
                                                                        class="col-form-label">용도</label>
                                                                    <input name="txtUseful" type="text" id="editUseful"
                                                                        class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputText5">소유자</label>
                                                                    <input name="txtOwner" type="text" id="editOwner"
                                                                        class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText6">설명</label>
                                                                    <input name="txtDesc" type="text" id="editDesc"
                                                                        class="form-control">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputText7">상태</label>
                                                                    <input disabled="disabled" type="text" value=""
                                                                        id="editState" class="form-control">
                                                                    <input type="hidden" name="state" value="O"
                                                                        id="editStateValue">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="sess_name" value="<%= sess_name %>">
                                                            <div class="modal-footer">
                                                                <a href="#" class="btn btn-secondary"
                                                                    data-dismiss="modal">닫기</a>
                                                                <button  class="btn btn-primary"
                                                                    type="submit">변경 저장</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- ================================ -->

                                          
                                            <form action="/activate_agent_info" method="POST"
                                                class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                <input type="hidden" name="agent_cd" id="agent_cd" value="">
                                                <button 
                                                    class="btn btn btn-rounded btn-primary col-xl-12 col-lg-12 col-md-12 col-sm-12"
                                                    id="activateBtn" style="height: 55px" >등록</button>
                                            </form>

                                            <form action="/agent/del_agent_info" method="POST"
                                                class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                                <input type="hidden" name="del_agent_cd" id="del_agent_cd" value="">
                                                <input type="hidden" name="sess_name" value="<%= sess_name %>">
                                                <input type="submit" id="agentDelBtn"
                                                    class="btn btn btn-rounded btn-danger col-xl-12 col-lg-12 col-md-12 col-sm-12"
                                                    value="삭제" style="height: 55px">  

                                            </form>





                                        </div>

                                        <div class="row col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                            
                                            <div class="col-4 alert alert-secondary" role="alert" align="text-center">
                                               900(20)/<%=recordsets[0].length %>
                                            </div>

                                            <div class="col-3" style="margin-left: 25px ; cursor:pointer;"onclick="location.reload();"><i class="fas fa-redo" style="font-size:30px; margin-top: 15px;"></i></div>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0 text-center">check</th>
                                                    <th class="border-0 text-center">상태</th>
                                                    <th class="border-0 text-center ">IP</th>
                                                    <th class="border-0 text-center">운영체제 버전</th>
                                                    <th class="border-0 text-center">용도</th>
                                                    <th class="border-0 text-center">소유자</th>
                                                    <th class="border-0 text-center">요청시간</th>
                                                    <th class="border-0 text-center">등록시간</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% if (typeof(reason) !='undefined' && reason == 'error'){ %>
                                                <script>alert("ERROR");</script>
                                                <% }  %>
                                                <% for(let i = 0 ; i < recordsets[0].length ; i+=1){ %>
                                                <tr style="text-align: center">
                                                    <td style="text-align:center; vertical-align: middle;"><label
                                                            class="custom-control custom-checkbox"><input
                                                                type="checkbox" id='<%=i %>'
                                                                class="custom-control-input chkbox"><span
                                                                class="custom-control-label"
                                                                style="position: absolute;left:40%; top:0"></span></label>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <% if(recordsets[0][i].STATE == 'C'){ %>
                                                        <div style="background-color: white; border: 3px solid; margin:auto;"
                                                            class="rounded-circle user-avatar-lg">
                                                            <% } else if(recordsets[0][i].STATE == 'C-2'){ %>
                                                            <div style="background-color: black; border: 3px solid; margin:auto;"
                                                                class="rounded-circle user-avatar-lg">
                                                                <% } else if(recordsets[0][i].STATE == 'R'){ %>
                                                                <div style="background-color: skyblue; border: 3px solid; margin:auto;"
                                                                    class="rounded-circle user-avatar-lg">
                                                                    <% } else if(recordsets[0][i].STATE == 'E'){ %>
                                                                    <div style="background-color: red; border: 31px solid; margin:auto;"
                                                                        class="rounded-circle user-avatar-lg">
                                                                        <% } else { %>
                                                                        <div style="background-color: yellow; border: 3px solid; margin:auto;"
                                                                            class="rounded-circle user-avatar-lg">
                                                                            <% } %>
                                                                        </div>
                                                    </td>
                                                    <!-- 여기에 STATE 값 별로 그림 이미지좀 출력해줘 -->
                                                    <!-- 이미지는 public/assets/images 에 넣어놓을꼐-->
                                                    <!-- 흰색/검은색/파란색/빨간색/주황색 존재 PPT  4page참고
                                                
                                                    <img src="../assets/images/avatar-2.jpg" alt="User Avatar" class="rounded-circle user-avatar-lg">
                                                    
                                                     -->
                                                    <td><%= recordsets[0][i].IP %></td>
                                                    <td><%= recordsets[0][i].OS %></td>
                                                    <td><%= recordsets[0][i].PURPOSE %></td>
                                                    <td><%= recordsets[0][i].OWNER %></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ============================================================== -->
                    <!-- 숫자 네비게이션 [1][2][3][4][5][6][7] 시작  ...-->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7" style="margin-bottom: 30px">
                            <div class="">
                                <nav aria-label="Demo of active current page number">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>

                                        <li class="page-item"><a class="page-link" href="#">1</a></li>

                                        <li class="page-item"><a class="page-link" href="#">2</a></li>

                                        <li class="page-item active"><a class="page-link" href="#">3</a></li>

                                        <li class="page-item"><a class="page-link" href="#">4</a></li>

                                        <li class="page-item"><a class="page-link" href="#">5</a></li>

                                        <li class="page-item"><a class="page-link" href="#">6</a></li>

                                        <li class="page-item"><a class="page-link" href="#">7</a></li>

                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                            <div class="card">
                                <div class="card-header">
                                    <h3 style="text-align: center;">후보에이전트 등록/일괄정보갱신</h3>
                                </div>

                                <div class="card-body">
                                    <div class="row">

                                         <a class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></a>
                                        <a href="#"
                                            class="btn btn-outline-success col-xl-3 col-lg-3 col-md-3 col-sm-3"
                                            data-toggle="modal" data-target="#excelModal" style="margin-right: 5px;">엑셀입력
                                        </a>


                                        <!-- 엑셀입력 모달 시작-->
                                         <div class="modal fade" id="excelModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="excelModal">엑셀 입력</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>


                                                    <form action="/agent/upload_xlsx" method="POST" enctype="multipart/form-data">
                                                        <div class="modal-body">

                                                        <label class="col-12 btn btn-outline-success btn-lg">
                                                       엑셀 파일 첨부하기<input type="file" name="xlsx_file" style="display: none;" >
                                                        </label>
                                                        <span style="color:red">주의 : 중복되는 IP가 있는경우 제외하고 등록됩니다</span>


                                                        </div>

                                                        <input type="hidden" name="sess_name" value="<%= sess_name %>">
                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            <input class="btn btn-primary" type="submit" value="변경 저장">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 엑셀입력 모달 끝-->


                                        <a href="#" class="btn btn-outline-primary btn-lg col-xl-3 col-lg-3 col-md-3 col-sm-3" style="margin-left: 5px;" 
                                            data-toggle="modal" data-target="#exampleModal">수동입력 </a>



                                        <!-- 후보 수동 에이전트 등록 시작 -->
                                     
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">에이전트 수동 입력</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>


                                                    <form action="/add_manual_agent" method="POST">
                                                        <div class="modal-body">

                                                            <div class="form-group">
                                                                <label for="inputText1"
                                                                    class="col-form-label">IP</label>
                                                                <input name="txtIP" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText2">MAC Address</label>
                                                                <input name="txtMac" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText3">운영체제 버전</label>
                                                                <input name="txtOS" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText4"
                                                                    class="col-form-label">용도</label>
                                                                <input name="txtUseful" type="text"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputText5">소유자</label>
                                                                <input name="txtOwner" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText6">설명</label>
                                                                <input name="txtDesc" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText7">상태</label>
                                                                <input disabled="disabled" type="text" value="수동등록"
                                                                    class="form-control">
                                                                <input type="hidden" name="state" value="C">
                                                            </div>

                                                        </div>

                                                        <input type="hidden" name="sess_name" value="<%= sess_name %>">
                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                                <button class="btn btn-primary" type="submit">변경 저장</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 후보 수동 에이전트 끝 시작 -->
                                        

                                        <a href="#"
                                            class="btn btn-outline-secondary btn-lg col-xl-3 col-lg-3 col-md-3 col-sm-4" style=" margin-left: 10px;" data-toggle="modal" data-target="#knownModal">등록정보갱신</a>

                                         <!-- 등록정보 갱신  모달  시작 -->

                                         <div class="modal fade" id="knownModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                                            style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="knownModal">등록정보갱신</h5>
                                                        <a href="#" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </a>
                                                    </div>


                                                    <form action="/agent/refresh_xlsx" method="POST" enctype="multipart/form-data">
                                                        <div class="modal-body">

                                                       

                                                        <label class="col-12 btn btn-outline-secondary btn-lg">
                                                       엑셀 파일 첨부하기<input type="file" style="display: none;" name="xlsx_file">
                                                        </label>
                                                        <span style="color:red">주의 : 등록된 IP를 기반으로 용도와 소유자를 변경합니다.</span>



                                                        </div>

                                                        <input type="hidden" name="sess_name" value="<%= sess_name %>">
                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            <input class="btn btn-primary" type="submit" value="변경 저장">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3 style="text-align: center;">오프라인 정보시스템 등록</h3>
                                </div>

                                <div class="card-body">
                                   

                                    <a href="#" class="btn btn-outline-warning btn-lg col-xl-12 col-lg-12 col-md-12 col-sm-12"
                                        data-toggle="modal" data-target="#offlinemodal">오프라인 정보시스템 등록</a>


                                    <!-- 오프라인 정보시스템 등록 모달 시작  -->
                                    <!-- ================================ -->
                                    <!-- ================================ -->

                                    <div class="modal fade" id="offlinemodal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">오프라인 정보시스템 등록</h5>
                                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </a>
                                                </div>


                                                <div class="modal-body">
                                                    <form action="/add_manual_agent" method="POST">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="inputText1"
                                                                    class="col-form-label">IP</label>
                                                                <input name="txtIP" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText2">MAC Address</label>
                                                                <input name="txtMac" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText3">운영체제 버전</label>
                                                                <input name="txtOS" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText4"
                                                                    class="col-form-label">용도</label>
                                                                <input name="txtUseful" type="text"
                                                                    class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputText5">소유자</label>
                                                                <input name="txtOwner" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText6">설명</label>
                                                                <input name="txtDesc" type="text" class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="inputText7">상태</label>
                                                                <input disabled="disabled" type="text" value="오프라인"
                                                                    class="form-control">
                                                                <input type="hidden" name="state" value="O">
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="sess_name" value="<%= sess_name %>">

                                                        <div class="modal-footer">
                                                            <a href="#" class="btn btn-secondary"
                                                                data-dismiss="modal">닫기</a>
                                                            <button type="submit" class="btn btn-primary">변경
                                                                저장</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 오프라인 정보시스템 등록 모달 종료  -->
                                        <!-- ================================ -->
                                        <!-- ================================ -->

                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                    </nav>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- 숫자 네비게이션 [1][2][3][4][5][6][7] 종료 -->
            <!-- ============================================================== -->


        </div>
    </div>
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by 중앙대학교
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->


    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <!-- <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script> -->
    <!-- <script src="assets/vendor/charts/morris-bundle/morris.js"></script> -->
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <!-- <script src="assets/libs/js/dashboard-ecommerce.js"></script> -->

    <script>
        $('#chk_all').click(() => {
            let chk = $('#chk_all').is(":checked");//.attr('checked');
            if (chk) $(".chkbox").prop('checked', true);
            else $(".chkbox").prop('checked', false);
        });
        $('#agentDelBtn').click((e) => {
            let arr = [];
            let chk_arr = $(".chkbox:checked");
            if (chk_arr.length === 0) {
                alert("선택된 에이전트가 없습니다.");
                return;
            } else {
                chk_arr.each((idx, elem) => {
                    let id = elem.id;
                    let recordsets = JSON.parse('<%- JSON.stringify(recordsets[0]) %>');
                    arr.push(recordsets[id].AGENT_CD);
                });

                $('#del_agent_cd').val(JSON.stringify(arr));
                $('#agentDelBtn').submit();
            }
        });
        $('#activateBtn').click((e) => {
            let cnt = $("input[class='custom-control-input chkbox']:checked").length;

            if (cnt === 0) {
                alert("선택 된 에이전트가 없습니다.");
                e.preventDefault();
            }
            else if (cnt !== 1) {
                alert("한번에 한가지만 수정 가능합니다.");
                e.preventDefault();
            } else {
                let idx = $("input[class='custom-control-input chkbox']:checked")[0].id;
                let recordsets = JSON.parse('<%- JSON.stringify(recordsets[0]) %>');
                $('#agent_cd').val(recordsets[idx].AGENT_CD);
                console.log($('#agent_cd').val());
                $('#activateBtn').submit();
            }
        });
        $('#changeAgentInfoBtn').click(() => {
            let cnt = $("input[class='custom-control-input chkbox']:checked").length;
            if (cnt == 0) {
                alert("선택 된 에이전트가 없습니다.");
                // $('#changeinfomodal').modal('hide');
            }

            else if (cnt != 1) {
                alert("한번에 한가지만 수정 가능합니다.");
                // $('#changeinfomodal').modal('hide');
            }


            else {
                let idx = $("input[class='custom-control-input chkbox']:checked")[0].id;
                let recordsets = JSON.parse('<%- JSON.stringify(recordsets[0]) %>');
                console.log(recordsets[idx]);
                $('#editID').val(recordsets[idx].AGENT_CD)
                $('#editIP').val(recordsets[idx].IP);
                $('#editMAC').val(recordsets[idx].MAC_ADDR);
                $('#editOS').val(recordsets[idx].OS);
                $('#editUseful').val(recordsets[idx].PURPOSE);
                $('#editOwner').val(recordsets[idx].OWNER);
                $('#editDesc').val(recordsets[idx].DISCRIPTION);
                let state = recordsets[idx].STATE
                $('#editStateValue').val(state);
                switch (state) {
                    case 'C':
                        $('#editState').val("수동등록");
                        break;
                    case 'C-2':
                        $('#editState').val("후보 에이전트");
                        break;
                    case 'R':
                        $('#editState').val("정식 에이전트");
                        break;
                    case 'E':
                        $('#editState').val("휴면 에이전트");
                        break;
                    case 'O':
                        $('#editState').val("오프라인");
                        break;
                }
                $('#changeinfomodal').modal('show');
            }
        });
        $('#searchBtn').click(() => {
            location.href = "/agent/" + $('#search_keyword').val();
        });
        $('#search_keyword').keydown((key) => {
            if (key.keyCode === 13) {
                $('#searchBtn').click();
            }
        });
    </script>

</body>

</html>