<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="min-width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MS SQL TEST PAGE</title>
</head>

<body><div style="position:fixed; background-color: white; width:100%">
    <a href='/test'><h2>MS SQL 테스트 페이지</h2></a>
    <hr />
    </div>
    <div style="padding:50px 0px"></div>
    <h3>로그인 테스트 영역</h3>
    <form action="/test_signin" method="POST">
        DB.login_admin(<input type="text" placeholder="Input your Name" name="login_name">,&nbsp;
        <input type="password" placeholder="Input your Password" name="login_pw">)
        <button id="btnTest" type="submit">테스트</button>
    </form>
    <% if(typeof(view_singin) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=view_singin %></textarea>
    <% } %>
    <hr />
    <h3>관리자 등록</h3>

    <form action="/test_signup" method="POST">
        DB.add_admin({<br />
        name:<input type="text" placeholder="Input your Name" name="name">,<br />
        passwd:<input type="password" placeholder="Input your Password" name="passwd">,<br />
        tel_no:<input type="tel" placeholder="Input your TEL" name="tel_no">,<br />
        email:<input type="email" placeholder="Input your Email" name="email">,<br />
        division:<input type="text" placeholder="Input your Division" name="division">,<br />
        position:<input type="text" placeholder="Input your Position" name="position">,<br />
        lock_stat:<input type="number" title="Input your LOCK_STAT" name="lock_stat" value="0" disabled>,<br />
        from_date:<input type="date" class="datePicker" title="Input your FROM_DATE" name="from_date">,<br />
        to_date:<input type="date" class="datePicker" title="Input your TO_DATE" name="to_date">,<br />
        role_cd:<input type="number" placeholder="Input your ROLE_CD" name="role_cd">,<br />
        lock_count:<input type="number" title="Input your LOCK_COUNT" name="lock_count" value="0" disabled><br />
        lock_date: NULL,<br />
        last_login:<input type="date" class="datePicker" title="Input your LAST_LOGIN" name="last_login"><br />
        })
        <button id="btnSignup" type="submit">테스트</button>
    </form>
    <% if(typeof(test_upsign) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=test_upsign %></textarea>
    <% } %>
    <hr />
    <h3>TBL_AGENT_INFO 조회(입력값 비우면 전체 검색)</h3>
    <form action="/view_tbl_agent_info" method="GET">
        DB.get_agent_info(<input type="text" placeholder="INPUT AGENT_CD" name="agent_cd">)
        <button id="btnTest2" type="submit">테스트</button>
    </form>
    <% if(typeof(agent_info) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=agent_info %></textarea>
    <% } %>
    <hr />
    <h3>TBL_GROUP_INFO 조회(입력값 비우면 전체 검색)</h3>
    <form action="/view_tbl_group_info" , method="GET">
        DB.get_group_info(<input type="text" placeholder="INPUT GROUP NAME" name="group_name">)
        <button id="btnTest3" type="submit">테스트</button>
    </form>
    <% if(typeof(group_info) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=group_info %></textarea>
    <% } %>
    <hr />
    <h3>Group 정보 추가</h3>
    <form action="/add_group_info", method="POST">
    DB.add_group_info(
        <input type="text" placeholder="Input Group Name" name="name">
        <input type="datetime" class="dateTimePicker" title="Input Create Time" name="create_time">
        <input type="datetime" class="dateTimePicker" title="Input Active time" name="active_time">
        <input type="number" placeholder="Input Agent Counting" name="agent_counting">
        <input type="datetime" class="dateTimePicker" title="Input Inspection Period" name="inspection_period">
        <input type="text" placeholder="Input Discription" name="discription">
    )<button id="btnTest8" type="submit">테스트</button>
    </form>
    <% if(typeof(add_group_info) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=add_group_info %></textarea>
    <% } %>

    <hr />
    <h3>Group 정보 활성화/비활성화</h3>
    <form action="/change_group_state" , method="POST">
        DB.change_group_state(<input type="number" placeholder="INPUT GROUP SET CD" name="group_set_cd">,
        <select name="state">
            <option value=true>true(활성화)</option>
            <option value=false>false(비활성화)</option>
        </select>
        )
        <button id="btnTest4" type="submit">테스트</button>
    </form>
    <% if(typeof(change_group_state) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=change_group_state %></textarea>
    <% } %>
    <h3>Group 정보 제거 (실제 DB에서는 제거되지 않고 DEL_FLAG로 설정)</h3>
    <form action="/delete_group_info" , method="POST">
        DB.delete_group_info(<input type="number" placeholder="INPUT GROUP SET CD" name="group_set_cd">)
        <button id="btnTest5" type="submit">테스트</button>
    </form>
    <% if(typeof(delete_group_info) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=delete_group_info %></textarea>
    <% } %>
    <hr />
        <h3>새로 생성될 XCCDF_CD 번호 조회</h3>
        <form action="/get_new_xccdf_cd" method="GET">
            DB.get_new_xccdf_cd()
            <button id="btnTest6" type="submit">테스트</button>
        </form>
        <% if(typeof(get_new_xccdf_cd) != "undefined"){ %>
        <textarea style="min-width:50%; min-height:40px;"><%=get_new_xccdf_cd %></textarea>
        <% } %>
    <hr />
        <h3>XCCDF 정보 추가</h3>
        <form action="/put_xccdf" method="POST">
            DB.put_xccdf(<input type="number" placeholder="INPUT XCCDF CD" name="xccdf_cd">,
            <input type="text" placeholder="INPUT FILE NAME" name="file_name">,
            <input type="text" placeholder="INPUT FILE PATH" name="file_path">,
            <input type="text" placeholder="INPUT INSPECT OS" name="inspect_os">
            )
            <button id="btnTest7" type="submit">테스트</button>
        </form>
        <% if(typeof(put_xccdf) != "undefined"){ %>
        <textarea style="min-width:50%; min-height:40px;"><%=put_xccdf %></textarea>
        <% } %>
    <hr />
        <h3>XCCDF 코드 GROUP 매핑</h3>
        <form action="/mapping_xccdf_group" method="POST">
            DB.mapping_xccdf_group(<input type="number" placeholder="INPUT XCCDF CD" name="xccdf_cd">,
            <input type="number" placeholder="INPUT GROUP SET CD" name="group_set_cd">
            )
            <button id="btnTest7" type="submit">테스트</button>
    </form>
    <% if(typeof(mapping_xccdf_group) != "undefined"){ %>
    <textarea style="min-width:50%; min-height:40px;"><%=mapping_xccdf_group %></textarea>
    <% } %>
    <script>
        let dpArr = document.getElementsByClassName('datePicker');
        for (let i = 0; i < dpArr.length; i += 1) {
            dpArr[i].valueAsDate = new Date();
        }
        
        function pad(n, width) {
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
        }
        let dtpArr = document.getElementsByClassName('dateTimePicker');
        let d = new Date(); 
        let datestring = d.getFullYear()+ "-"  + pad(d.getMonth()+1,2) + "-" + pad(d.getDate(),2) + " " + pad(d.getHours(),2) + ":" + pad(d.getMinutes(),2)+":"+pad(d.getSeconds(),2);       
        for (let i = 0; i < dtpArr.length; i += 1) {
            dtpArr[i].value = datestring;
        }
    </script>
</body>

</html>