<!doctype html>
<html lang="en">
 
<head>
    <%include ../../head.ejs%>
    <style>
        td { 
                vertical-align: middle; 
                overflow:hidden;
                white-space : nowrap;
                text-overflow: ellipsis;

         }

        td.textOverDefault {
            white-space : normal; /*기본값*/
            text-overflow: clip; /*기본값*/
        }
    </style>
</head>

<body>

<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
         <%include ../../header.ejs%>
        
    </div>
    <!-- ============================================================== -->
    <!-- 헤드 네비게이션 바 종료  -->
    <!-- ============================================================== -->
    
        <div class="">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                   
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">로그관리</h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">로그관리</li>
                                        </ol>
                                    </nav>                                                                                                                
                                </div>
                            </div>
                        </div>
                    </div>

<!-- ==============================================================
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="card" style="height: 400px; overflow: scroll;">
                        <h3 class="card-header text-center">평가 문항 추출</h3>
                    <div class="card-body p-0">   
                        <div class="row"> 

                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <td class="border-0">
                                        </td>
                                        <td class="border-0">
                                        </td>
                                        <td class="border-0">
                                                <label class="custom-control custom-checkbox">
                                                <input id="chk_all" name="chk_all" type="checkbox"
                                                        class="custom-control-input"><span 
                                                        class="custom-control-label" style="">모두 선택</span>
                                                </label>
                                        </td>
                                        <td class="border-0 text-center">
                                             <div class="input-group input-search">
                                                <input id="search_keyword_PyeongGaMunhang" class="form-control" type="text" placeholder="Search "><span class="input-group-btn">
                                                <button class="btn btn-secondary" type="button" id="searchBtn_PyeongGaMunhang"><i class="fas fa-search"></i></button></span>
                                            </div>
                                        </td>
                                        <td class="border-0 text-center">
                                            <a href="#" class="col-9 btn btn-outline-danger" data-toggle="modal" data-target="#xccdfModal"> 결과 다운로드 <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span ></span></a>
                                        </td>

                                    </tr>
                                </thead>
                            </table>

                        </div>
             
                        
                        <div class="table-responsive">
                                <table id="group_table" class="table">
                                    <thead class="bg-light">
                                    <th class = "border-0 text-center">check</th>
                                    <th class = "border-0 text-center">번호</th>
                                    <th class = "border-0 text-center">그룹 이름</th>
                                   
                                    <th class = "border-0 text-center">에이전트 수</th>
                                    <th class = "border-0 text-center">그룹 정보 더 보기</th>
                                  
                                    <th class = "border-0 text-center">활성시간</th>
                                    <th class = "border-0 text-center">오프라인/온라인</th>

                                    </thead>
                                    <tbody>
                                    <% for(var i=0; i<data[0].length; i++){ %>
                                    <tr class="table" style="text-align: center;">
                                        <td style="text-align:center; vertical-align: middle;"><label
                                                class="custom-control custom-checkbox"><input
                                                    type="checkbox" id='<%=i %>'
                                                    class="custom-control-input chkbox"><span
                                                    class="custom-control-label"
                                                    style="position: absolute;left:40%; top:0"></span></label>
                                        </td>
                                 
                                        <td>그룹<%=i+1%></td>
                                   
                                        <td><%=data[0][i].NAME%></td>
                                 <td><%=data[0][i].DISCRIPTION%></td>
                                        <td><%=data[0][i].AGENT_COUNTING%></td>
                                        <td><%=data[0][i].CREATE_TIME%></td>
                                        <td><%=data[0][i].ACTIVE_TIME%></td>
                                        &lt;!&ndash;<td colspan="2">&ndash;&gt;
                                        <td>오프라인 정보시스템 포함</td>
                                        <td>
                                            <form action="/group/<%=data[0][i].NAME%>" method = "GET" style="z-index: 9999;">
                                                <input type="submit" id="GroupInfoBtn"
                                                       class="btn btn-outline-info btn-lg"
                                                       value = "Details" style="width: 150px; z-index:9998">
                                            </form>
                                        </td>

                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
              </div>
            </div>

-->
<!-- ============================================================== -->            
<!-- ============================================================== -->
<!-- 로그 관리 카드 시작 -->
        <div class="col-12">
              <div class="card" style="height: 550px; overflow: scroll;">
                <h3 class="card-header text-center">로그 관리</h3>
                    <div class="card-body p-0">
                        <div class="row"> 
                            <table class="table">
                                <thead>
                                    <tr class="border-0">
                                        <td class="border-0">
                                           
                                        <div class="input-group input-search col-7" style="left: 30%;">
                                            <input id="search_keyword" class="form-control" type="text" placeholder="Search "><span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" id="searchBtn"><i class="fas fa-search"></i></button></span>
                                        </div>
                                        </td>
                                        <td class="border-0 text-center" style="left: 10%;">
                                             <div class="input-group input-search col-7">
                                                <input id="search_date" class="form-control"  type="date" placeholder="상세 필터링 "><span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" id="dateBtn" ><i class="fas fa-search"></i></button></span>
                                            </div>
                                        </td>

                                        <td class="border-0 text-center">
                                            <form action="/download/" method="POST">
                                                
                                                <% for(let i = 0 ; i < recordsets[0].length ; i+=1){ %>
                                                    <input type="hidden" name="logall<%=i%>" value="<%=recordsets[0][i].CONTENT_DATE %> : <%= recordsets[0][i].LOG_ID %> : <%= recordsets[0][i].LOG_TYPE %> : <%=recordsets[0][i].CONTENTS %>">
                                                    
                                                <% } %>
                                                
                                                <button type="submit" id="downBtn" class="col-11 btn btn-outline-danger">로그 다운로드 <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span></button>
                                            
                                            </form>
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 text-center">LOG_ID</th>
                                        <th class="border-0 text-center">LOG_TYPE</th>
                                        <th class="border-0 text-center">CONTENTS</th>
                                        <th class="border-0 text-center">CREATED DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (typeof(reason) !='undefined' && reason == 'error'){ %>
                                    <script>alert("ERROR");</script>
                                    <% }  %>

                                    <% for(let i = 0 ; i < recordsets[0].length ; i+=1){ %>
                                    <tr>
                                        <td class="text-center"><%= recordsets[0][i].LOG_ID %></td>
                                        <td class="text-center"><h5><%= recordsets[0][i].LOG_TYPE %></h5></td>
                                        <td class="text-center"><%= recordsets[0][i].CONTENTS %> </td>
                                        <td class="text-center"><%= recordsets[0][i].CONTENT_DATE %></td>
                                    </tr>
                                    
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
<!-- 로그 관리 카드 끝 -->
<!-- ============================================================== -->
<!-- ============================================================== -->
            </div>
         </div>
       </div>
    </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2018 Concept. All rights reserved. Dashboard by 중앙대학교
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>
    <script>
        $('#chk_all').click(() => {
            let chk = $('#chk_all').is(":checked");//.attr('checked');
            if (chk) $(".chkbox").prop('checked', true);
            else $(".chkbox").prop('checked', false);
        });
        $('#searchBtn_PyeongGaMunhang').click(() => {
            location.href = "/log_PGMH/" + $('#search_keyword_PyeongGaMunhang').val();
        });
        $('#search_keyword_PyeongGaMunhang').keydown((key) => {
            if (key.keyCode === 13) {
                $('#searchBtn_PyeongGaMunhang').click();
            }
        });
        $('#searchBtn').click(() => {
            location.href = "/log/" + $('#search_keyword').val();
        });
        $('#search_keyword').keydown((key) => {
            if (key.keyCode === 13) {
                $('#searchBtn').click();
            }
        });
        $("#downBtn").click(() => {
            location.href = "/download/" ;
        });
        $('#dateBtn').click(() => {
            location.href = "/log_date/" + $('#search_date').val();
        });
        $('#search_date').keydown((key) => {
            if (key.keyCode === 13) {
                $('#dateBtn').click();
            }
        });
    </script>
 
</body>
</html>