<!doctype html>
<html lang="en">

<head>
    <%include ../../../head.ejs%>
</head>

<body>
    <div class = "dashboard-main-wrapper">
        <div class = "dashboard-header">
            <%include ../../../header.ejs%>
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">그룹 상세 정보 - <%=recordsets[0].NAME%> </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">대쉬보드</li>
                                            <li class="breadcrumb-item active" aria-current="page">그룹 및 정책 관리</li>
                                            <li class="breadcrumb-item active" aria-current="page">기본 정보</li>
                                            <li class="breadcrumb-item active" aria-current="page"> <%=recordsets[0].NAME%> 상세 정보</li>
                                        </ol>
                                     </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "ecommerce-widget">
                        <div class = "row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-block">
                                    <h5 class="section-title"></h5>
                                    <p></p>
                                </div>
                                <div class="tab-regular">
                                    <ul class="nav nav-tabs " id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">기본정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">에이전트 정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">정책정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">레포팅</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="report-tab" data-toggle="tab" href="#extracting" role="tab" aria-controls="report" aria-selected="false">평가문항 추출</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row col-12">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <label for="validationServer01">그룹명</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].NAME%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">그룹설명</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].DISCRIPTION %>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">에이전트 개수</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].AGENT_COUNTING %>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">생성 시간</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].CREATE_TIME%>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <label for="validationServer01">활성 상태</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].ACTIVE_STATE%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">마지막 활성 시간</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].ACTIVE_TIME%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">시스템 검사 주기</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].INSPECTION_PERIOD%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="card" style="height: 300px; overflow:scroll; ">
                                                <h5 class="card-header text-center">할당된 에이전트</h5>
                                                <div class = "card-body p-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-light">
                                                            <th class="border-0 text-center">상태</th>
                                                            <th class="border-0 text-center ">IP</th>
                                                            <th class="border-0 text-center">운영체제 버전</th>
                                                            <th class="border-0 text-center">용도</th>
                                                            </thead>
                                                            <tbody>
                                                            <% for(var i=0; i<recordsets2.length; i++){ %>
                                                            <tr>
                                                                <td>
                                                                    <% if(recordsets2[i].STATE == 'C'){ %>
                                                                    <div style="background-color: white; border: 1px solid; margin:auto;"
                                                                         class="rounded-circle user-avatar-lg">
                                                                        <% } else if(recordsets2[i].STATE == 'C-2'){ %>
                                                                        <div style="background-color: black; border: 1px solid; margin:auto;"
                                                                             class="rounded-circle user-avatar-lg">
                                                                            <% } else if(recordsets2[i].STATE == 'R'){ %>
                                                                            <div style="background-color: skyblue; border: 1px solid; margin:auto;"
                                                                                 class="rounded-circle user-avatar-lg">
                                                                                <% } else if(recordsets2[i].STATE == 'E'){ %>
                                                                                <div style="background-color: red; border: 1px solid; margin:auto;"
                                                                                     class="rounded-circle user-avatar-lg">
                                                                                    <% } else { %>
                                                                                    <div style="background-color: yellow; border: 1px solid; margin:auto;"
                                                                                         class="rounded-circle user-avatar-lg">
                                                                                        <% } %>
                                                                                    </div>
                                                                </td>
                                                                <td class="text-center"><%=recordsets2[i].IP%> </td>
                                                                <td class="text-center"><%=recordsets2[i].OS%></td>
                                                                <td class="text-center"><%=recordsets2[i].PURPOSE%></td>
                                                            </tr>
                                                            <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                            <div class="card" style="height: 300px; overflow: scroll;">
                                                <h5 class="card-header text-center">운영체제 버전 별 할당 XCCDF</h5>
                                                <div class="card-body p-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-light">
                                                            <th class="text-center">운영체제 버전</th>
                                                            <th class="text-center">xccdf</th>
                                                            </thead>
                                                            <tbody>
                                                            <%for(var i=0; i<(recordsets3.length); i++){ %>
                                                            <tr>
                                                                <td class="text-center">
                                                                    <%=recordsets3[i].OS %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <%if(recordsets3[i].XCCDF_CD === null){%>
                                                                            할당되지 않음
                                                                    <%}else{%>
                                                                        <%=recordsets3[i].FILE_NAME%>
                                                                    <%}%>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="report" role="tabpanel" aria-labelledby="report-tab">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="card" style="height: 290px; overflow: scroll;">
                                                        <h4 class="card-header text-center">레포팅(그룹) 이력 조회 및 다운로드
                                                        </h4>
                                                        <div class="card-body p-0">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="bg-light">
                                                                    <tr class="border-0">
                                                                        <th class="border-0 text-center">번호</th>
                                                                        <th class="border-0 text-center">레포팅 명칭</th>
                                                                        <th class="border-0 text-center">정책 활성화 시간</th>
                                                                        <th class="border-0 text-center">생성시간</th>
                                                                        <th class="border-0 text-center">다운로드</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="text-center">1</td>
                                                                        <td class="text-center">생성시간-그룹ID-그룹명</td>
                                                                        <td class="text-center">2019.02.09.15:30.58</td>
                                                                        <td class="text-center">2019.02.10.15:30.58</td>
                                                                        <td class="text-center">
                                                                            <span class="icon"><i class="fas fa-paperclip"></i> </span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="extracting" role="tabpanel" aria-labelledby="report-tab">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="card" style="height: 290px; overflow: scroll;">
                                                        <h4 class="card-header text-center">평가문항 관리 및 추출
                                                        </h4>
                                                        <div class="card-body p-0">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="bg-light">
                                                                    <tr class="border-0">
                                                                        <th class="border-0 text-center">번호</th>
                                                                        <th class="border-0 text-center">에이전트 IP</th>
                                                                        <th class="border-0 text-center">시스템 정보</th>
                                                                        <th class="border-0 text-center">정책명</th>
                                                                        <th class="border-0 text-center">평가관리</th>
                                                                        <th class="border-0 text-center">평가추출</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="text-center">1</td>
                                                                        <td class="text-center">에이전트 테이블에서 아이피</td>
                                                                        <td class="text-center">에이전트 테이블에서 시스템 정보</td>
                                                                        <td class="text-center">2019.02.10.15:30.58</td>

                                                                        <td class="text-center">
                                                                            <span class="icon" data-toggle="modal" data-target="#managingEvaluation"><i class="fas fa-calendar-alt"></i> </span>
                                                                        </td>

                                                                        <td class="text-center">
                                                                            <span class="icon" data-toggle="modal" data-target="#extractingEvaluation">
                                                                                <i class="fas fa-share"></i>
                                                                            </span>
                                                                        </td>


                                                                    </tr>

                                                                    <tr>
                                                                        <td class="text-center">1</td>
                                                                        <td class="text-center">생성시간-그룹ID-그룹명</td>
                                                                        <td class="text-center">2019.02.09.15:30.58</td>
                                                                        <td class="text-center">2019.02.10.15:30.58</td>
                                                                       

                                                                        <td class="text-center">
                                                                            <span class="icon" data-toggle="modal" data-target="#managingEvaluation"><i class="fas fa-calendar-alt"></i> </span>
                                                                        </td>

                                                                        <td class="text-center">
                                                                            <span class="icon" data-toggle="modal" data-target="#extractingEvaluation">
                                                                                
                                                                               <i class="fas fa-share"></i>
                                                                            </span>
                                                                        </td>


                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <form action = "/oldgroup" method = "POST">
                                          <label class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right" style = "margin-top: 10px;">
                                             <input type = "hidden" name = "change_group_NAME" id = "chang_group_NAME" value = "<%=JSON.stringify(recordsets[0].NAME)%>">
                                             <input class = "btn btn-success btn-lg" type="submit" value="수정" style="width:150px;"><!--<span class="custom-control-label">모두 선택</span>-->
                                         </label>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "footer">
            <%include ../../../footer.ejs%>
        </div>
    </div>

    
<!-- 평가 관리 모달 시작 -->
    <div class="modal" id="managingEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="managingEvaluation">평가 관리</h5>
                    <a href="#" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>

                <form action=" " method="POST">
                    <input type="hidden" name = "" value ="">
                    <input type="hidden" class="form-control" name=""  value="">
                    <div class="modal-body">
                        <div class="form-group">
                            
                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">해당 에이전트의 점검 이력을 확인합니다.</label>

                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">ip : 192.168.13.123 / 시스템 정보 : Windows 7  <- 수정</label>

                            <div class = "table-responsive">
                                <table id = "" class="table">
                                    <thead class = "bg-light">
                                    <th class = "border-0 text-center">선택</th>
                                    <th class = "border-0 text-center">점검 일시</th>
                                    <th class = "border-0 text-center">다운로드</th>
                                    </thead>
                                    <tbody>
                                   
                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          2019.1월 1일 <- 수정 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <i class="fas fa-share-square"></i></i> <- 수정
                                        </td>
                                    </tr>

                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          2019.1월 1일 <- 수정 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <i class="fas fa-share-square"></i> <- 수정
                                        </td>
                                    </tr>

                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          2019.1월 1일 <- 수정 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <i class="fas fa-share-square"></i> <- 수정
                                        </td>
                                    </tr>

                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <a href="#" class="btn btn-outline-warning">점검 기록 삭제</a>

                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">닫기</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- 평가관리 모달 끝-->


<!-- 평가 문항 추출 모달 시작 -->
    <div class="modal" id="extractingEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="managingEvaluation">평가 문항 추출</h5>
                    <a href="#" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>

                <form action=" " method="POST">
                    <input type="hidden" name = "" value ="">
                    <input type="hidden" class="form-control" name=""  value="">
                    <div class="modal-body">
                        <div class="form-group">
                            
                            <label for="inputText1" class="col-form-label" style="margin-top: 10px"> 에이전트를 점검한 정책의 평가문항을 추출합니다.</label>

                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">ip : 192.168.13.123 / 시스템 정보 : Windows 7 / 정책명 : window_XCCDF.xml  <- 수정</label>

                            <div class = "table-responsive">
                                <table id = "" class="table">
                                    <thead class = "bg-light">
                                    <th class = "border-0 text-center">선택</th>
                                    <th class = "border-0 text-center">문항명</th>
                                    <th class = "border-0 text-center">OVAL</th>
                                    <th class = "border-0 text-center">심각도</th>
                                    </thead>
                                    <tbody>
                                   
                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          패스워드가 8자리 미만인지 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          oval:def:nsr:1001
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="badge-dot  badge-danger">high</span>
                                        </td>
                                    </tr>

                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          암호화를 하고 있는지 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          oval:def:nsr:1002
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="badge-dot  badge-warning">warning</span>
                                        </td>
                                    </tr>

                                    <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "" value = "" id = "">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          패스워드가 8자리 미만인지 
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                          oval:def:nsr:1001
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span class="badge-dot  badge-success">low</span>
                                        </td>
                                    </tr>

                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <a href="#" class="btn btn-outline-success">추출하기</a>

                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">닫기</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- 평가관리 모달 끝-->

    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <script src="/assets/vendor/datepicker/moment.js"></script>
    <script src="/assets/vendor/datepicker/tempusdominus-bootstrap-4.js"></script>
    <script src="/assets/vendor/datepicker/datepicker.js"></script>
</body>
</html>