<!doctype html>
<html lang="en">

<head>
    <%include ../../../head.ejs%>
</head>

<body>
    <div class = "dashboard-main-wrapper">
        <div class = "dashboard-header">
            <%include ../../../header.ejs%>
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">그룹 상세 정보 - <%=recordsets[0].NAME%> </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">MENU</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">대쉬보드</li>
                                            <li class="breadcrumb-item active" aria-current="page">그룹 및 정책 관리</li>
                                            <li class="breadcrumb-item active" aria-current="page">기본 정보</li>
                                            <li class="breadcrumb-item active" aria-current="page"> <%=recordsets[0].NAME%> 상세 정보</li>
                                        </ol>
                                     </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class = "ecommerce-widget">
                        <div class = "row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="section-block">
                                    <h5 class="section-title"></h5>
                                    <p></p>
                                </div>
                                <div class="tab-regular">
                                    <ul class="nav nav-tabs " id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">기본정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">에이전트 정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">정책정보</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false">레포팅</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="report-tab" data-toggle="tab" href="#extracting" role="tab" aria-controls="report" aria-selected="false">평가문항 추출</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="row col-12">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <label for="validationServer01">그룹명</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].NAME%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">그룹설명</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].DISCRIPTION %>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">에이전트 개수</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].AGENT_COUNTING %>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">생성 시간</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].CREATE_TIME%>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <label for="validationServer01">활성 상태</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].ACTIVE_STATE%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">마지막 활성 시간</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].ACTIVE_TIME%>
                                                    </div>

                                                    <div class="row" style="margin-top: 20px">
                                                        <label for="validationServer01">시스템 검사 주기</label>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <%=recordsets[0].INSPECTION_PERIOD%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="card" style="height: 300px; overflow:scroll; ">
                                                <h5 class="card-header text-center">할당된 에이전트</h5>
                                                <div class = "card-body p-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-light">
                                                            <th class="border-0 text-center">상태</th>
                                                            <th class="border-0 text-center ">IP</th>
                                                            <th class="border-0 text-center">운영체제 버전</th>
                                                            <th class="border-0 text-center">용도</th>
                                                            </thead>
                                                            <tbody>
                                                            <% for(var i=0; i<recordsets2.length; i++){ %>
                                                            <tr>
                                                                <td>
                                                                    <% if(recordsets2[i].STATE == 'C'){ %>
                                                                    <div style="background-color: white; border: 1px solid; margin:auto;"
                                                                         class="rounded-circle user-avatar-lg">
                                                                        <% } else if(recordsets2[i].STATE == 'C-2'){ %>
                                                                        <div style="background-color: black; border: 1px solid; margin:auto;"
                                                                             class="rounded-circle user-avatar-lg">
                                                                            <% } else if(recordsets2[i].STATE == 'R'){ %>
                                                                            <div style="background-color: skyblue; border: 1px solid; margin:auto;"
                                                                                 class="rounded-circle user-avatar-lg">
                                                                                <% } else if(recordsets2[i].STATE == 'E'){ %>
                                                                                <div style="background-color: red; border: 1px solid; margin:auto;"
                                                                                     class="rounded-circle user-avatar-lg">
                                                                                    <% } else { %>
                                                                                    <div style="background-color: yellow; border: 1px solid; margin:auto;"
                                                                                         class="rounded-circle user-avatar-lg">
                                                                                        <% } %>
                                                                                    </div>
                                                                </td>
                                                                <td class="text-center"><%=recordsets2[i].IP%> </td>
                                                                <td class="text-center"><%=recordsets2[i].OS%></td>
                                                                <td class="text-center"><%=recordsets2[i].PURPOSE%></td>
                                                            </tr>
                                                            <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                            <div class="card" style="height: 300px; overflow: scroll;">
                                                <h5 class="card-header text-center">운영체제 버전 별 할당 XCCDF</h5>
                                                <div class="card-body p-0">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-light">
                                                            <th class="text-center">운영체제 버전</th>
                                                            <th class="text-center">xccdf</th>
                                                            </thead>
                                                            <tbody>
                                                            <%for(var i=0; i<(recordsets3.length); i++){ %>
                                                            <tr>
                                                                <td class="text-center">
                                                                    <%=recordsets3[i].OS %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <%if(recordsets3[i].XCCDF_CD === null){%>
                                                                            할당되지 않음
                                                                    <%}else{%>
                                                                        <%=recordsets3[i].FILE_NAME%>
                                                                    <%}%>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="tab-pane" id="report" role="tabpanel" aria-labelledby="report-tab">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="card" style="height: 290px; overflow: scroll;">
                                                        <h4 class="card-header text-center">레포팅(그룹) 이력 조회 및 다운로드
                                                        </h4>
                                                        <div class="card-body p-0">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="bg-light">
                                                                    <tr class="border-0">
                                                                        <th class="border-0 text-center">번호</th>
                                                                        <th class="border-0 text-center">레포팅 명칭</th>
                                                                        <th class="border-0 text-center">정책 활성화 시간</th>
                                                                        <th class="border-0 text-center">결과 업로드 시간</th>
                                                                        <th class="border-0 text-center">다운로드</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% 
                                                                        function leadingZeros(n, digits) {
                                                                            var zero = '';
                                                                            n = n.toString();
                                                                          
                                                                            if (n.length < digits) {
                                                                              for (i = 0; i < digits - n.length; i++)
                                                                                zero += '0';
                                                                            }
                                                                            return zero + n;
                                                                          }  
                                                                        function getTimeStamp(d) {
                                                                            console.log(d)
                                                                          var s =
                                                                            leadingZeros(d.getFullYear(), 4) +
                                                                            "-" +
                                                                            leadingZeros(d.getMonth() + 1, 2) +
                                                                            "-" +
                                                                            leadingZeros(d.getDate(), 2) +
                                                                            " " +
                                                                            leadingZeros(d.getHours(), 2) +
                                                                            ":" +
                                                                            leadingZeros(d.getMinutes(), 2) +
                                                                            ":" +
                                                                            leadingZeros(d.getSeconds(), 2);
                                                                        
                                                                          return s;
                                                                        }
                                                                        
                                                                        %>
                                                                        <% for(let i = 0 ; i < recordsets4.length ; i +=1){ %>
                                                                    <tr>
                                                                        <td class="text-center"><%=i+1%></td>
                                                                        <td class="text-center"><%=getTimeStamp(recordsets4[i].CREATE_TIME)%>-<%=recordsets4[i].GROUP_SET_CD[0]%>-<%=recordsets4[i].NAME%></td>
                                                                        <td class="text-center"><%=getTimeStamp(recordsets4[i].INSPECTION_START_DATE)%></td>
                                                                        <td class="text-center"> <% if (recordsets4[i].SUBMIT_DATE != null){ %> <%=getTimeStamp(recordsets4[i].SUBMIT_DATE)%> <% }else{ %> - <% } %></td>
                                                                        <td class="text-center">
                                                                            <a href="
                                                                                <% if(recordsets4[i].SUBMIT_DATE != null){
                                                                                    %>/group/downloadhtml?group_cd=<%=recordsets4[i].GROUP_SET_CD%>&agent_cd=<%=recordsets4[i].AGENT_CD%>"
                                                                                <% }else{
                                                                                %> onclick='alert("점검결과가 없습니다.");'<%
                                                                                } %>>
                                                                                <span class="icon"><i class="fas fa-paperclip"></i> </span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <% } %>
                                                                    </tbody>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane" id="extracting" role="tabpanel" aria-labelledby="report-tab">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="card" style="height: 290px; overflow: scroll;">
                                                        <h4 class="card-header text-center">평가문항 관리 및 추출
                                                        </h4>
                                                        <div class="card-body p-0">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead class="bg-light">
                                                                    <tr class="border-0">
                                                                        <th class="border-0 text-center">번호</th>
                                                                        <th class="border-0 text-center">에이전트 IP</th>
                                                                        <th class="border-0 text-center">시스템 정보</th>
                                                                        <th class="border-0 text-center">정책명</th>
                                                                        <th class="border-0 text-center">평가관리</th>
                                                                        <th class="border-0 text-center">평가추출</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <% for(var i=0; i<recordsets2.length; i++){ %>
                                                                    <tr>
                                                                        <td class="text-center"><%=i+1%></td>
                                                                        <td class="text-center"><%=recordsets2[i].IP%></td>   <!--에이전트 테이블에서 아이피-->
                                                                        <td class="text-center"><%=recordsets2[i].OS%></td> <!--에이전트 테이블에서 시스템 정보-->
                                                                        <td class="text-center">
                                                                            <%for(var j=0; j<recordsets3.length; j++){
                                                                                if(recordsets3[j].OS === recordsets2[i].OS){%>
                                                                                    <%=recordsets3[j].FILE_NAME%>
                                                                            <%  break;
                                                                                }
                                                                            }%>
                                                                        </td>

                                                                        <td class="text-center">
                                                                            <span class="icon manage" data-toggle="modal" id="manage_<%=i%>" data-target="#managingEvaluation" style="cursor: pointer"><i class="fas fa-calendar-alt"></i> </span>
                                                                        </td>

                                                                        <td class="text-center" >
                                                                            <span class="icon export" data-toggle="modal" id="export_<%=i %>" data-target="#extractingEvaluation" style="cursor: pointer">
                                                                                <i class="fas fa-share"></i>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <%}%>
                                                                    </tbody>
                                                                </table>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-9"></div>               
                                        
                                        <a href="#"
                                                class="btn btn-warning col-2"
                                                data-toggle="modal" data-target="#offlineuplodadModal"
                                                style="margin-right: 2px; margin-top: 10px;">오프라인 업로드
                                        </a>
                                          
                                        <form action = "/oldgroup" method = "POST">
                                          <label class="col-1" style = "margin-top: 10px; " >
                                             <input type = "hidden" name = "change_group_NAME" id = "chang_group_NAME" value = "<%=JSON.stringify(recordsets[0].NAME)%>">
                                             <input class = "btn btn-success" type="submit" value="수정">
                                         </label>
                                        </form>

                                     
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "footer">
            <%include ../../../footer.ejs%>
        </div>
    </div>

    
<!-- 평가 관리 모달 시작 -->
    <div class="modal" id="managingEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="managingEvaluation">평가 관리</h5>
                    <a href="#" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>

                <form action=" " method="POST">
                    <input type="hidden" name = "" value ="">
                    <input type="hidden" class="form-control" name=""  value="">
                    <div class="modal-body">
                        <div class="form-group">
                            
                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">해당 에이전트의 점검 이력을 확인합니다.</label>

                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">ip: <span id="manage_ip"></span> / 시스템 정보 : <span id="manage_os"></span></label>

                            <div class = "table-responsive">
                                <table id = "" class="table">
                                    <thead class = "bg-light">
                                    <th class = "border-0 text-center">선택</th>
                                    <th class = "border-0 text-center">점검 일시</th>
                                    <th class = "border-0 text-center">다운로드</th>
                                    </thead>
                                    <tbody id="manage_tbl">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <a href="#" class="btn btn-outline-warning">점검 기록 삭제</a>

                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">닫기</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- 평가관리 모달 끝-->


<!-- 오프라인 점검 결과 업로드 모달 시작-->
    <div class="modal" id="offlineuplodadModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="offlineuplodadModal">오프라인 점검 결과 업로드</h5>
                    <a href="#" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>


                <form action="/group/upload_offline_result" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input class = "hidden" name = "group_NAME" id = "group_NAME" value = "<%=JSON.stringify(recordsets[0].NAME)%>">
                        <input class = "hidden" name="group_cd" id = "group_cd" value = "<%=JSON.stringify(recordsets[0].GROUP_SET_CD)%>">
                        에이전트 IP
                        <input type = "text" class = "col-12 form-control" name = "agent_ip"
                               placeholder="에이전트 IP를 입력하세요" id ="agent_ip" style="margin-bottom: 10px;" >

                        <label class="col-12 btn btn-outline-warning btn-lg" style="margin-bottom: 10px;">
                            결과 파일 업로드<input type="file" name="offresultfile" style="display: none;">
                        </label>

                        <span style="color:red;">주의 : 에이전트가 다를 시 등록이 불가합니다.</span>

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-secondary"
                            data-dismiss="modal">닫기</a>
                        <input class="btn btn-primary" type="submit"
                            value="변경 저장">
                    </div>
                </form>
            </div>
        </div>
    </div>

                                            <!-- 엑셀입력 모달 끝-->
<!-- 평가 문항 추출 모달 시작 -->
    <div class="modal" id="extractingEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="managingEvaluation">평가 문항 추출</h5>
                    <a href="#" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>

                <form action=" " method="POST">
                    <input type="hidden" name = "" value ="">
                    <input type="hidden" class="form-control" name=""  value="">
                    <div class="modal-body">
                        <div class="form-group">
                            
                            <label for="inputText1" class="col-form-label" style="margin-top: 10px"> 에이전트를 점검한 정책의 평가문항을 추출합니다.</label>
                            <br />

                            <label for="inputText1" class="col-form-label" style="margin-top: 10px">ip : <span id="export_ip">192.168.13.123</span> / 시스템 정보 : <span id="export_os">Windows 7</span> / 정책명 : <span id="export_filename">window_XCCDF.xml</span></label>

                            <div class = "table-responsive">
                                <table id = "" class="table">
                                    <thead class = "bg-light">
                                    <th class = "border-0 text-center">선택</th>
                                    <th class = "border-0 text-center">OVAL</th>
                                    <th class = "border-0 text-center">심각도</th>
                                    </thead>
                                    <tbody id="export_tbl">
                                   
                                    

                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <a href="#" id="export_btn" class="btn btn-outline-success">추출하기</a>

                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">닫기</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>


    


<!-- 평가관리 모달 끝-->

    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <script src="/assets/vendor/datepicker/moment.js"></script>
    <script src="/assets/vendor/datepicker/tempusdominus-bootstrap-4.js"></script>
    <script src="/assets/vendor/datepicker/datepicker.js"></script>


    <script>
        let recordsets2 = JSON.parse('<%- JSON.stringify(recordsets2) %>');
        let recordsets3 = JSON.parse('<%- JSON.stringify(recordsets3).replace(/\\/gi,'/') %>');
        console.log(recordsets2);

        $('.manage').click((e)=>{
            let id = e.currentTarget.id.split('manage_')[1]
            let agent_cd = Array.from(new Set(recordsets2[id]['AGENT_CD']));
            let group_set_cd = Array.from(new Set(recordsets2[id]['GROUP_SET_CD']));
            let group_name = '<%-JSON.stringify(recordsets[0].NAME)%>';

            console.log("group_set_cd", group_set_cd);
            console.log("agent_cd", agent_cd);

            $('#manage_ip').text(recordsets2[id]['IP']);
            $('#manage_os').text(recordsets2[id]['OS']);

            $.ajax({
                url:`/group/stats?agent_cd=${agent_cd}&group_set_cd=${group_set_cd}`,
                success:(result) =>{
                    let html = '';
                    result = result['recordset'];

                    for(let i = 0; i<result.length; i++){
                        html +=`
                        <tr class="table" style="text-align: center;">
                            <td>
                                <label class = "custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name = "inspect_delete" value = "" id = "inspect_delete_${i}">
                                <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span>
                                </label>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                ${result[i]['SUBMIT_DATE']}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <form id = "down_inspect_result" method = "POST" action = "/group/download_inspect_result">
                                    <input type="hidden" name="inspect_cd" value = ${result[i]['INSPECT_CD']}>
                                    <input type="hidden" name="agent_cd" value = ${agent_cd}>
                                    <input type = "hidden" name="group_cd" value = ${group_set_cd}>
                                    <input type = "hidden" name="group_name" value = ${group_name}>

                                    <button type="submit" class = "fas fa-share-square">
                                    </button>
                                </form>
                            </td>
                        </tr>
                        `
                    }

                    $('#manage_tbl').html(html);
                }
            });
        })

        $('.export').click((e)=>{
            let id = e.currentTarget.id.split('export_')[1];
            let xccdf_cd = recordsets2[id]['XCCDF_CD']
            $('#export_ip').text(recordsets2[id]['IP']);
            $('#export_os').text(recordsets2[id]['OS']);
            $('#export_filename').text(recordsets3[id]['FILE_PATH'].split('//')[recordsets3[id]['FILE_PATH'].split('//').length - 1]);
            $.ajax({
                url:`/group/xccdf?xccdf_cd=${xccdf_cd}`,
                success:(result)=>{
                    let html = '';
                    result = result['recordset'];
                    for(let i = 0 ; i < result.length ; i +=1){
                        html += `
                        <tr class="table" style="text-align: center;">
                                        <td>
                                        <label class = "custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name = "export_chk" value = "" id = "export_chk_${i}">
                                            <span class="custom-control-label" style="position: absolute;left:40%; top:0"></span> 
                                        </label>
                                        </td>
                                        
                                        <td style="text-align: center; vertical-align: middle;" id="oval_${i}">
                                          ${result[i]['XCCDF_ITEM_CODE']}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <span id="severity_${i}" class="badge-dot  `;
                                            
                                            if (result[i]['SEVERITY'] == 'high'){
                                            html += `badge-danger`;
                                            }else if(result[i]['SEVERITY'] == 'medium'){
                                            html += `badge-warning`;
                                            }else{
                                                html += `badge-success`;
                                            }
                                            
                                            html +=`">${result[i]['SEVERITY']}</span>
                                        </td>
                                    </tr>
                        `;
                    }
                    $('#export_tbl').html(html);
                }
            })
        });

        $('#export_btn').click(e=>{
            let check_arr = $('input:checkbox[name=export_chk]:checked');
            let check_id_arr = [];
            for (let i = 0 ; i < check_arr.length ; i +=1){
                let id = check_arr[i].id.split('export_chk_')[1];
                check_id_arr.push(id);
            }
            
            let export_list = [];
            for (let i = 0 ; i < check_id_arr.length ; i +=1){
                let tmp = {
                severity : $(`#severity_${check_id_arr[i]}`).text(),
                xccdf_item_code : $(`#oval_${check_id_arr[i]}`).text().replace(/[\n\s]*/gi,'')
                }
                export_list.push(tmp);
            }

            let ip = $('#export_ip').text();
            let os = $('#export_os').text();
            let group_name = $('.pageheader-title').text().split('그룹 상세 정보 - ')[1];
            let xccdf_name = $('#export_filename').text();

            $.ajax({
                url:`/group/export?ip=${ip}&os=${os}&group_name=${group_name}&xccdf_name=${xccdf_name}&export_list=${JSON.stringify(export_list)}`,
                success:(result)=>{
                    document.open('text/html', 'replace');
                    document.write(result);
                    document.close();
                }
            });

        });
    </script>

</body>
</html>